body {
    background-color: lightgray;
    padding: 15px;
}

.titleActu {
    color: #0d6efd;
    display: flex;
    justify-content: center;
}

label {
    color: white;
    text-decoration-line: underline;
    font-weight: bold;
}